*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}
.navbar-list
{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;

}

.nav-items:link,
.nav-items:visited,
.admin-button
{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    transition: all 0.3s;
}
.nav-items{
    font-size: 20px;
    font-weight: 500px;
    color: black;
}
.nav-items:hover,
.nav-items:active
{
    background-color: orange;
    color: white;
    padding: 5px;
    border: 2px solid darkorange;
    border-radius: 15%;
}
.nav-logo
{
    height: 3rem;
}
.admin-button
{
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 0px 5px;    font-weight: bold;
    border: 2px solid darkorange;
    border-radius: 15%;
    border: none;
    cursor: pointer;}
.admin-button:hover
{
    background-color: #fff;
    color: orange;
    opacity: 0.8;
}
/* product section */
.product,
p
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
p{
    font-size: larger;
    font-weight: bold;
    padding: 2rem 3rem;
    text-align: left;
    text-decoration: none;
    
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid orangered;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: orange;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }